@font-face {
  font-family: 'Press Start 2P';
  src: url('../assets/fonts/press-start-2p-v15-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Press Start 2P', monospace;
  background: #121212;
  color: #fff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 20px 0;
  font-size: 1.5em;
}

.game {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 00px;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.side {
  flex: 1;
  padding: 10px;
  min-width: 45%;
}

#playerName, #botName {
    text-align: center;
    margin-bottom: 8px;
    font-size: 1.2rem;
    transition: color 0.3s;

}

.active-turn{
  color: #4CAF50
}

.inactive-turn{
  color: #888
}

.monster {
  position: relative;
  width: 100px;
  height: 130px;
  margin: 8px;
  background-image: url('../assets/images/Card.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: 'Press Start 2P';
  color: white;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s ease;
}

.monster:hover {
  transform: scale(1.05);
}

.monster.selected {
  box-shadow: 0 0 12px 4px gold;
}

.monster-image {
  position: absolute;
  top: 28px;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
  image-rendering: pixelated;
  z-index: 1;
}

.hp {
  position: absolute;
  bottom: 6px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(0, 0, 0, 0.7);
  padding: 2px 6px;
  font-size: 12px;
  border-radius: 4px;
  z-index: 2;
}


.selected {
  border-color: yellow;
  box-shadow: 0 0 10px yellow;
}

#status {
  margin: 20px 0;
  font-size: 1em;
}

@media (max-width: 500px) {
  .game {
    flex-direction: column;
  }
  .side {
    min-width: 100%;
  }
}

#endTurnBtn, #restartBtn {
  margin-top: 16px;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  background: #333;
  color: white;
  cursor: pointer;
  transition: background 0.3s;
  font-family: "Press Start 2P";
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#endTurnBtn:disabled {
  background: #666;
  cursor: not-allowed;
}

#restartBtn {
  display: none;
}

